@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <table class="dataTable-tr">
            <tr>
                <td>sessionid</td>
                <td>IP</td>
                <td>UserAgent</td>
                <td>SessionStarted</td>
                <td>UserNameID</td>
                <td>UserName</td>
            </tr>


        </table>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-1.6.4.js"></script>

    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>

    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="/signalr/js"></script>

    @*<add key="owin:appStartup" value="TestRealTime.Startup" />*@
    <script>

        $(document).ready(function () {

            var chat = $.connection.systemHub;
            chat.client.listOnlineVisitorsContainer = function (visitors) {
                console.log(visitors);
                loadata(visitors);

            };

            $.connection.hub.start().done(function () {
                console.log("ok");
            });


            function loadata(list) {
                var listTr = [];
                $.each(list, function (index, visitor) {
                    var tr = "<tr>\
                                            <td>"+ visitor.SessionId + "</td>\
                                            <td>"+ visitor.IpAddress + "</td>\
                                            <td>"+ visitor.UserAgent + "</td>\
                                            <td>"+ visitor.SessionStarted + "</td>\
                                            <td>"+ visitor.UserNameID + "</td>\
                                            <td>"+ visitor.UserName + "</td>\
                                         </tr>" ;
                    listTr.push(tr);

                });
                $(".dataTable-tr").html(listTr);
            };

            //$.ajax({
            //	type: "GET",
            //	url: "GetWebVisitors",
            //	success: function (respond) {
            //		loadata(respond);
            //	}
            //})
        });

    </script>

}